In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.3'

In [4]:
dict_medidas = {
    'idade': [15,18,25,25,40,55,58,60,80],
    'altura': [160,162,165,168,172,174,174,174,176],
}

In [5]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [6]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [7]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de posição

In [23]:
# media
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [24]:
# Mediana
df_medidas["idade"].median()

np.float64(40.0)

In [25]:
# moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

# Medidas de posição

In [26]:
df_medidas['idade'].var()

np.float64(509.94444444444446)

# Desvio padrão

In [27]:
df_medidas['idade'].std()

np.float64(22.58194952709895)

# coeficiente de variação

In [29]:
df_medidas['idade'].std() / df_medidas['idade'].mean() * 100

np.float64(54.05253876167302)